.main_screen {
    margin: auto; /* Выравниваем таблицу по центру окна  */
    text-align: center;
    border: 1px solid black;

}


td  {
	border: 1px solid #2f97c7;
    padding: 20px;
	padding: 5px;
}
.start_windows {
    position: sticky;
    top: 0;
}